<header>
    Header ...
    <br>
    <% if(!locals.user){%>
    <a href="/users/signIn">SignIn</a>
    &nbsp;&nbsp;&nbsp;
    <a href="/users/signUp">SignUp</a>
    &nbsp;&nbsp;&nbsp;
    <a href="/users/home">home</a>
    <%}%>
    <%if(locals.user){%>
        <p>
            <h3 style="display: inline;">User:--> <%= locals.user.name %></h3>
            &nbsp;&nbsp;&nbsp;
            <a href="/users/signout">SignOut</a>
        </p>
    <%}%>
</header>
