<h1>All Info</h1>

<%for(student of students){%>
    <p><%= student.interviews.length %></p>
    <ul>
        <%for(compony of student.interviews){%>
            <li>
                <p><%= compony.compony.name %></p>
                <p><%= compony.score %></p>
            </li>
        <%}%>
    </ul>
<%}%>
