<h1>All Info</h1>

<%for(student of students){%>
    <p><%= student.name %></p>
    <ul>
        <%for(compony of student.interviews){%>
            <li>
                <p><%= compony.compony.name %></p>
                <p><%= compony.result %></p>
            </li>
        <%}%>
    </ul>
<%}%>

<a href="/allInfo/download">download</a>