<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/general.css">
    <%- style %>
</head>
<body>
    <%- include('_header');%>
    <%- body %>
 
    <%- script %>
</body>
</html>