<link rel="stylesheet" href="/css/signup.css">
<div class="form">
<h1>Sign Up</h1>
<form action="form-signUp" method="POST">
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input class="form-control" type="text" name="email" placeholder="Email: abc@xyz.com" required id="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input class="form-control" type="password" name="password" placeholder="password" required id="password">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input class="form-control" type="text" name="name" placeholder="Name..." required id="name">
    </div>
    <button type="submit" class="btn btn-dark">SignUp</button>
</form>
</div>